{%  extends 'index.html' %}
{% block content %}


<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3 bg-dark">
			<h6 class="m-0 font-weight-bold text-white">Actividad de escaneos</h6>
		</div>
	</div>
					

	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Escaneo</th>
      <th scope="col">Detalles</th>
      <th scope="col">Correo</th>
      <th scope="col">Hora</th>
	  <th scope="col">Fecha</th>
	  <th scope="col">Borrar</th>
	  <th scope="col">Enviar</th>

    </tr>
  </thead>
  <tbody>
{% for contact in contacts %}
	{% if nombre in contact%}
		<tr>
			<td>{{ contact.1 }}</td>
			<td>{{ contact.2 }}</td>
			<td>{{ contact.3 }}</td>
			<td>{{ contact.4 }}</td>
			<td>{{ contact.5 }}</td>
		    <td> <a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete" role="button"><i class="icon ion-md-trash"></i></a></td>
			<td> <a href="/envio_reporte/{{contact.0}}" class="btn btn-success btn-enviar" role="button"><i class="icon ion-md-mail"></i></a></td>
		</tr>
	{% endif %}
{% endfor %}
  </tbody>
</table>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div class="container-fluid w-25 alert alert-success float-right">
									{{ message }} 
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
</div>
					

{% endblock %} 