<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ScannerTools</title>
    <link rel="shortcut icon" href="../static/img/icono.ico" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

</head>

<body class="row m-0 bg-dark justify-content-center align-items-center vh-100">
	
		<div class="col-sm-4 bg-dark textos ">
	        <div class="d-flex justify-content-center">
	            <img  src="../static/img/portada.png" height="300">
			</div>
	        <h1 class="text-center text-white">Scanner Tools</h1>
	        <hr class=" sidebar-divider bg-light">
	        <h5 class="text-center text-white">
	            Tecnologias de la Información y Comunicación
	        </h5>
	        <h5 class=" text-center text-white">
	            Infraestructura de Redes Digitales
	        </h5>
	        
	        <div class="d-flex justify-content-center">
	            <button onclick="location.href='{{url_for('autenticacion')}}'" class=" btn btn-light btn-outline-dark">EMPECEMOS</button>
	        </div>
      
    	</div>
	
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/efectos.js"></script>
</body>
</html>