{%  extends 'index.html' %}
{% block content %}


<div class="container-fluid">
						
	<div class="card shadow mb-4">
		<div class="card-header py-3 bg-dark">
			<h6 class="m-0 font-weight-bold text-white">Escaneo de puertos</h6>
		</div>

		<div class="card-body">

			<form action="/escaneo_puertos" method="POST">
				<div class="input-group mb-3">
					<select class="custom-select" name="select">
						
							<option selected>Selecciona el tipo de escaneo</option>
							<option value="1">Puertos disponibles</option>
							<option value="2">Puertos TCP</option>
							<option value="3">Puertos UDP</option>
						
					</select>
					<div class="input-group-append">
						<label class="input-group-text bg-warning text-white" for="inputGroupSelect02">Opciones</label>
					</div>
				</div>
			
				<hr class="sidebar-divider d-none d-md-block">

			
				<div class="input-group mb-3">
					<input required="" name="rango" type="text" class="form-control" placeholder="Ingresa la IP segun la opcion seleccionada" aria-label="Recipient's username" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-success" type="submit" id="button-addon2">Escanear</button>
					</div>
				</div>
			</form>
			
			<hr>
			
			<div>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<li class="list-group-item list-group-item-dark">
								{{ message}} 
							</li>
						{% endfor %}
					{% endif %}
				{% endwith %}

			</div>
								
		</div>
	</div>
</div>




{% endblock %} 